<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La familia numerosa</title>
</head>
<body> 
    <hl style="color:seagreen">Mi familia </hl>

    <p style="color:saddlebrown">Les presento a mi familia</p>
    
    
        <ul>
            {% for datos in lista_familias %}
                <li style="color:red">Nombre: {{datos.nombre}} - dni: {{datos.Dni}} - nacio en: {{datos.nacimiento}}</li>
            {% endfor %}
        
        </ul>
      

</body>
</html>